*
{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
    font-family: sans-serif;
}

.top-nav-bar
{
    height: 57px;
    top: 0;
    position: sticky;
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 2px solid dimgrey;
    z-index: 2;
}

.logo
{
    height: 40px;
    margin: 5px 10px;
}

.form-control
{
    margin-top: 9px;
    margin-left: 30px;
    border: 2px solid dimgrey !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text
{
    background: dimgrey !important;
    border: 1px solid dimgrey !important;
    margin: 8.5px 10px 3px 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box
{
    display: inline-flex;
    width: 50%;
}

.fa-search
{
    color: white;
}

.menu-bar
{
    width: 40%;
    height: 50px;
    float: right;
}

.menu-bar ul
{
    display: inline-flex;
    float: right;
}

.menu-bar ul li
{
    border-left: 1px solid white;
    list-style-type: none;
    padding: 16px 35px;
    text-align: center;
    background-color: dimgrey;
    cursor: pointer;
}

.menu-bar ul li a
{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.fa-shopping-basket
{
    margin-right: 5px;
}
@media only screen and (max-width: 980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }

    .search-box {
        width: 100%;
    }

    .menu-bar {
        width: 100%;
    }

    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }

    .fa-sign-in {
        margin-right: 10px;
    }

    .menu-bar ul li {
        height: 57px;
        width: 100%
    }
}
    /*------------------------------------side-menu----------------------------------------*/
    .header .wrapper a,
    .header .wrapper a:hover,
    .header .wrapper a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
.wrapper
{
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar
{
    min-width:250px;
    max-width:250px;
    background: white;
    transition: all 0.3s;
}
#sidebar .active
{
    margin-left: -250px;
}
#sidebar .sidebar-header
{
    padding:20px;

    background: dimgrey;
}
#sidebar ul.components
{
    padding: 20px 0;
    border-bottom: 1px solid dimgrey;
}
#sidebar ul li a
{
  padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover
{
    color: dimgrey;
    background: white;
}
#sidebar ul li .active>a,
a[aria-expanded="true"]
{
    color: #fff;
    background: dimgrey;
}
a[data-toggle="collapse"]
{
    position: relative;
}
.dropdown-toggle::after
{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
ul ul a
{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}
.btn-info
{
    z-index: 2;
    padding:0 0 0 0;
    background-color: dimgrey !important;
    color: dimgrey;
    border: 0 solid dimgrey !important;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        width: 100%;
    }
    #sidebar.active{
        width: 100%;
        margin-left: 0;
    }
    #sidebarCollapse{
    }
}


/*---------------------------slider CSS---------------------------*/
.slider
{
    width: 100%;
    padding-right:10px;
}
.carousel
{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.carousel-indicators
{
    z-index: 1 !important;
}
@media only screen and (max-width: 980px)
{
    .slider
    {
        display: none;
        margin-left: 0;
    }
}

/*----------------------featured-categories CSS------------------*/
.feature-categories
{
    margin:50px 0;

}
.feature-categories img
{
    width: 100%;
    padding: 20px 0;
    transition: letter-spacing;
    cursor: pointer;
}
.feature-categories img:hover
{
    transform: scale(1.1);
}

/*--------suggested-------------------*/
.title-box
{
    color: red;
    width: 280px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2
{
    font-size: 24px;
}
.title-box::after
{
    content: '';
    border-top:40px solid red;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

@media only screen and (max-width: 980px)
{
    .suggested .container img
    {
        width: 100%;
    }
}

/*---------------product-top CSS-----------*/
.product-top img
{
    width: 250px;
    margin: 10px 20px 20px 20px;

}
.overlay-right
{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa
{
    cursor: pointer;
    background-color: white;
    color: black;
    height: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary
{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover .overlay-right
{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

@media only screen and (max-width: 980px)
{
    .new-products .container img
    {
        width: 100%;
        margin-right: 20px;
    }
    .product-top img
    {
        width: 100%;
        margin: 20px 20px 20px 20px;
    }
}


/*---------------------product-bottom-CSS-------------*/
.product-bottom .fa
{
    color: red;
    font-size: 10px;
}
.product-bottom h3
{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5
{
    font-size: 15px;
    padding-bottom: 10px;
}

.new-products
{
    margin:50px 0;
}

/*------------website-features--------------------*/
.website-features
{
    margin: 60px 0;
}
.website-features img
{
    width: 30%;
}
.feature-box
{
    margin-top: 10px;
    float: right;
    width: 20%;
    padding-left: 20px;

}
.feature-box
{
    padding-top: 20px;
}
.footer
{
    margin-top: 50px;
    background: black;
    color: white;
}
.footer h1
{
    font-size: 15px;
    margin:25px 0;
}
.footer p
{
    font-size: 12px;
}
.copyright
{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.fa-heart-o
{
    color: red;
    font-size: 15px;
}
.footer hr
{
    margin-top: 10px;
    background-color: red;
}
.footer .row .fa
{
    padding-right: 20px;
    font-size: 15px;
}
/*------------------------------single-product-------------------------------*/
.single-product
{
    margin-top:70px;
}

.single-product img
{
    width:100% ;
}

.single-product .product-slider
{
    width: 500px;
}
.new-arrival
{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}
.single-product h2
{
    color: red;
}
.single-product .fa
{
    color: red;
}
.single-product .price
{
    color: red;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
.single-product input
{
    border: 1px solid  lightgray;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}
.single-product .btn-primary
{
    background: red !important;
    color: black;
    font-size: 15px;
    margin-left: 20px;
    border: none;
    box-shadow: none;
}
.single-product .container .row .col-md-7 img
{
    width: 30px;
    margin-bottom: 10px;
}

    /*-------------------------Product-description---------------------------*/
.product-description h6
{
    margin-top: 50px;
    color: red;
}
.product-description p
{
    margin-top: 30px;
}
.product-description hr
{
    margin-bottom: 50px;
}

/*-------------------------preco-chilli----------------------------------*/
.popis-preco-chilli h4
{
    color: red;

}

/*----------------------o-nas-----------------------------------------*/
.cela-strana
{
    background: #010615;
}
.cela-strana .domcek .a
{
    text-decoration: none;
    color: white;
}
.pozadie
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Adobe Fan Heiti Std B',sans-serif ;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

.pozadie .box
{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px;
    background:#060c21 ;
    transition: 0.5s;
}
.box:hover
{
    height: 400px;
}
.box .imgBox
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding:10px;
    box-sizing: border-box;
}
.box .imgBox img
{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imgBox img
{
    opacity: 1;
}
.box:before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box:after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(400px);
}

.box:before,
.box.after
{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after
{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box .content
{
    position: absolute;
    left:10px;
    right:10px;
    bottom:10px;
    height:90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content
{
    opacity: 1;
}
.box .content h2
{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h2 span
{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    letter-spacing: 2px;
}